# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Learn-Editor.iml
# Datasource local storage ignored files
/../../../../../../:\git\Learn-Editor\.idea\.idea.Learn-Editor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
